#donation {
    width: 100px;
    float: left;
    padding: 5px 15px;
    text-align: center;
}

.goal {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 2px 5px;
}

.goal.complete {
    color: #00AA98;
}

.bar-container {
    height: 500px;
}

.goal-bar {
    position: relative;
    height: 100%;
}

.bar-wrap {
    position: relative;
    height: 100%;
    background: #AFAFAF;
    border: 1px solid #525252;
    border-radius: 3px;
    overflow: hidden;
}

.bar-line {
    position: absolute;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #525252;
}

.bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #305D54, #00AA98);
    transition: all 0.2s;
}

.bar-info {
    position: relative;
    margin: 5px;
}

.bar-info-inner {
    padding: 2px;
    background: #305D54;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.bar-line.line-1 {
    top: 10%;
}

.bar-line.line-2 {
    top: 20%;
}

.bar-line.line-3 {
    top: 30%;
}

.bar-line.line-4 {
    top: 40%;
}

.bar-line.line-5 {
    top: 50%;
}

.bar-line.line-6 {
    top: 60%;
}

.bar-line.line-7 {
    top: 70%;
}

.bar-line.line-8 {
    top: 80%;
}

.bar-line.line-9 {
    top: 90%;
}

.bar-label {
    position: absolute;
    border: none;
    background: #AFAFAF;
    padding: 2px 5px;
}

.bar-label.line-1 {
    left: 50%;
    margin-left: -17px;
    bottom: 8.5%;
}
.bar-label.line-2 {
    left: 50%;
    margin-left: -17px;
    bottom: 18.5%;
}
.bar-label.line-3 {
    left: 50%;
    margin-left: -17px;
    bottom: 28.5%;
}
.bar-label.line-4 {
    left: 50%;
    margin-left: -17px;
    bottom: 38.5%;
}
.bar-label.line-5 {
    left: 50%;
    margin-left: -17px;
    bottom: 48.5%;
}
.bar-label.line-6 {
    left: 50%;
    margin-left: -17px;
    bottom: 58.5%;
}
.bar-label.line-7 {
    left: 50%;
    margin-left: -17px;
    bottom: 68.5%;
}
.bar-label.line-8 {
    left: 50%;
    margin-left: -17px;
    bottom: 78.5%;
}
.bar-label.line-9 {
    left: 50%;
    margin-left: -17px;
    bottom: 88.5%;
}
