#roster-list {
    width: 400px;
    padding: 5px 15px;
    float: right;
}

.roster-item {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    height: 100px;
    background: linear-gradient(45deg, #305D54, #00AA98);
    border-radius: 5px;
}

.roster-item:hover {
    background: #00AA98;
}

.roster-item.place-0 {
    background: linear-gradient(45deg, #1D6FA1, #59BFE5);
}

.roster-item.place-0:hover {
    background: #59BFE5;
}

.roster-avatar {
    margin: 10px;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 5px;
}

.roster-info {
    color: white;
    position: relative;
    flex-grow: 100;
    text-align: center;
}

.roster-info-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roster-donate {
    color: white;
    position: relative;
    width: 100px;
    text-align: center;
}

.roster-donate-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}