.twitch-item {
    padding: 5px;
    width: 320px;
    height: 180px;
}

.twitch-item a {
    color: black;
    text-decoration: none; 
}

.twitch-item a:visited {
    color: black;
    text-decoration: none;
}

.twitch-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.twitch-item-inner.twitch-item-offline {
    background: linear-gradient(45deg, #1D6FA1, #59BFE5);
}

.twitch-item-inner.twitch-item-offline:hover {
    background: #59BFE5;
}

.twitch-item-inner.twitch-item-offline:active {
    background: #304D5D;
}

.twitch-item-image {
    filter: blur(2px);
}

.twitch-item-image:hover {
    filter: none;
}

.twitch-item-label {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}