/* Based on https://codepen.io/Cheesetoast/pen/KFAaq */

body {
  font-family: 'Lato', sans-serif;
}

#container {
  padding: 0 20px;
  width: 1366px;
  margin: 20px auto;
  border: 1px solid black;
}

header {
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  margin: 0 15px;
  border: 1px solid red;
}

footer {
  clear: both;
  padding: 0 15px;
  border: 1px solid pink;
}