/* Based on https://codepen.io/Cheesetoast/pen/KFAaq */

body {
  font-family: sans-serif;
}

#container {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
  border: 1px solid black;
}

header {
  height: 100px;
  margin: 0 15px;
  border: 1px solid red;
}

#twitch {
  width: 294px;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
  border: 1px solid blue;
}

footer {
  clear: both;
  padding: 0 15px;
  border: 1px solid pink;
}