/* Based on https://codepen.io/Cheesetoast/pen/KFAaq */

body {
  font-family: sans-serif;
}

#container {
  padding: 5px;
  width: 960px;
  margin: 20px auto;
}

header {
  height: 100px;
  margin: 0 15px;
}

#donation {
  width: 290px;
  float: left;
  padding: 5px 15px;
}

#twitch {
  width: 294px;
  float: left;
  padding: 5px 15px;
  margin: 0px 5px 5px 5px;
}

#roster {
  width: 270px;
  padding: 5px 15px;
  float: left
}

footer {
  clear: both;
  padding: 0 15px;
}